{% load static %}

<html>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/bootstrap4/bootstrap.min.css' %}">

    <head>
        <meta charset= "UTF-8">
        <meta name= "viewport" content= "width = device-width ,initial-scale= 1.0"> 	
	</head>

    <body style="background-color:black;">

        
        <ul>
            {% if user.is_authenticated %}
                <button type="button" class="btn btn-light"><a href = "{% url 'createpost'%}" > Create Posts </a></button>
            {% endif%}
            <br>
            <br>
            <b><h2>All Posts</h2></b><br>
            {%for post in object_list%}
                <div class="card">
                    <div class="card-header">
                    See Posts For Update Information -  {{post.post_date}}
                    </div>
                    <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5> 
                    <p class="card-text">{{post.author}}</p>
                    <a href="{% url 'post' post.pk %}" class="btn btn-primary">View</a>
                    </div>
                </div>
                <br>
            {%endfor%}
        
        </ul>
    </body>
</html>
